@using InteriorDesign.Models
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserSessionModel currentUser = (UserSessionModel)Session[WebUtil.CURRENT_USER];
    IEnumerable<ProductModel> specificProducts = (IEnumerable<ProductModel>)ViewBag.userSpecificProducts;
    IList<BannersModel> banners = (IList<BannersModel>)ViewBag.allBanners;
    
}

<div class="layout">

    <!-- Home -->

    <main class="main">

        <div class="arrow-left"></div>
        <div class="arrow-right"></div>

        <!-- Start revolution slider -->

        <div class="rev_slider_wrapper">
            <div id="rev_slider" class="rev_slider fullscreenbanner">
                <ul>

                    <!-- Slide 1 -->

                    <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000" data-fsmasterspeed="1000">

                        <!-- Main image-->

                        <img src="@banners[1].Url" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                        <!-- Layer 1 -->

                        <div class="slide-title tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-25']"
                             data-fontsize="['50','45', '35']"
                             data-lineheight="['80','75', '65']"
                             data-width="['1100','700','550']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="500"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Concert hall in new york
                        </div>

                        <!-- Layer 2 -->

                        <div class="slide-subtitle tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                             data-fontsize="['18']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;"
                             data-transform_out="opacity:0;s:1000;s:1000;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none">
                            Concert Hall is the architecture of a new generation, a building<br>
                            that exists not only in the dimension of space,<br>
                            but also in the dimension of time and communication.
                        </div>

                        <!-- Layer 3 -->

                        <div class="tp-caption"
                             data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['195','215']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                             data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">
                            <a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
                        </div>
                    </li>

                    <!-- Slide 2 -->

                    <li data-transition="slotzoom-horizontal" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000">

                        <!-- Main image -->

                        <img src="@banners[0].Url" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                        <!-- Layer 1 -->

                        <div class="slide-title tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-55']"
                             data-fontsize="['50','45', '35']"
                             data-lineheight="['80','75','65']"
                             data-width="['1100','700','500']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="500"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Exhibition center in boston
                        </div>


                        <!-- Layer 2 -->

                        <div class="slide-subtitle tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                             data-fontsize="['18']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;"
                             data-transform_out="opacity:0;s:1000;s:1000;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none">
                            Modern Hotel is the architecture of a new generation, a building<br> that exists not only in the dimension of space,<br>
                            but also in the dimension of time and communication.
                        </div>

                        <!-- Layer 3 -->

                        <div class="tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['195','210']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                             data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8;">
                            <a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
                        </div>
                    </li>

                    <!-- Slide 3 -->

                    <li data-transition="slotzoom-horizontal" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000">

                        <!-- Main image-->

                        <img src="@banners[2].Url" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                        <!-- Layer 1 -->

                        <div class="slide-title tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['-18','-18','-18','-18']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-35','-35', '-25']"
                             data-fontsize="['50','45', '35']"
                             data-lineheight="['80','75', '65']"
                             data-width="['1000','700','550']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="500"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">
                            Modern hotel in london
                        </div>


                        <!-- Layer 2 -->

                        <div class="slide-subtitle tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['75','105']"
                             data-fontsize="['18']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;"
                             data-transform_out="opacity:0;s:1000;s:1000;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none">
                            Exhibition Center is the architecture of a new generation,<br>
                            a building that exists not only in the dimension of space,<br>
                            but also in the dimension of time and communication.
                        </div>

                        <!-- Layer 3 -->

                        <div class="tp-caption tp-resizeme"
                             data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['195','215']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                             data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8;">
                            <a href="#about" class="btn js-target-scroll">Look more <i class="icon-next"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <div class="content">

        <!-- Upload Image  -->
        @if (currentUser != null)
        {

            <section id="about" class="about section">
                <div class="container">
                    <header class="section-header">
                        <h2 class="section-title">Upload <span class="text-primary">Your Interior</span></h2>
                    </header>

                    <form id="UploadInterior">
                        <div class="form-group">
                            <label>Step 1: Enter Caption For Image </label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="Caption" id="imageCaption" placeholder="Enter Caption" />
                        </div>

                        <div class="form-group">
                            <label>Step 2: Upload Image </label>
                        </div>

                        <div class="form-group">
                            <div class=" col-sm-12 col-md-12">
                                <img alt="" class="img-responsive" id="productImage" src="~/img/projects/2-480x880.jpg">
                                @* its value will be saved DB *@
                                <input id="ImageURL" name="ImageURL" type="hidden" />
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="row">
                                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                            </div>
                        </div>
                        <div class="text-left"><button class="btn btn-shadow-2 wow swing" disabled="disabled"  id="waitInteriorBtn">Please wait while Image is being uploaded <i class="icon-next"></i></button></div>
                        <div class="text-right"><button href="#" class="btn btn-shadow-2 wow swing js-target-scroll" id="UploadInteriorBtn">Image Uploaded Click here to upload another <i class="icon-next"></i></button></div>

                    </form>

                </div>
            </section>


            if (specificProducts.Count() > 0)
            {
                <section class="projects section">
                    <div class="container">
                        <h2 class="section-title">My <span class="text-primary">Interiors</span></h2>
                    </div>
                    <div class="row">

                        <div class="section-content">
                            <div class="projects-carousel js-projects-carousel js-projects-gallery">

                                @foreach (var product in specificProducts)
                                {
                                    <div class="project project-light">
                                        <a href="@product.ImageUrl" title="@product.FileName">
                                            <figure>
                                                <img alt="" src="@product.ImageUrl">
                                                <figcaption>
                                                    <h3 class="project-title">
                                                        @product.caption
                                                    </h3>
                                                    <h4 class="project-category">
                                                        Uploaded by: @product.user
                                                    </h4>
                                                    <div class="project-zoom"></div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="text-center-md deletediv"><button href="#" class="btn btn-shadow-2 deletebtn" data-postKey="@product.PostKey" data-fileName="@product.FileName">Delete</button></div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </section>
            }
        }


        @if (Model.Count()>0) {

        <section class="projects section">
            <div class="container">
                <h2 class="section-title">All <span class="text-primary">Interiors</span></h2>
            </div>
            <div class="row">

                <div class="section-content">
                    <div class="projects-carousel js-projects-carousel js-projects-gallery">

                        @foreach (var product in Model)
                        {
                            <div class="project project-light">
                                <a href="@product.ImageUrl" title="@product.FileName">
                                    <figure>
                                        <img alt="" src="@product.ImageUrl">
                                        <figcaption>
                                            <h3 class="project-title">
                                                @product.caption
                                            </h3>
                                            <h4 class="project-category">
                                                Uploaded by: @product.user
                                            </h4>
                                            <div class="project-zoom"></div>
                                        </figcaption>
                                    </figure>
                                </a>

                            </div>
                        }


                    </div>

                </div>
            </div>
        </section>
        }
        <!-- Footer -->

        <footer id="footer" class="footer">
            <div class="container">
                <div class="row-base row">
                    <div class="col-base text-left-md col-md-4">
                        <a href="#" class="brand">
                            Go<span class="text-primary">.</span>Interiors
                        </a>
                    </div>
                    <div class="text-center-md col-base col-md-4">
                        <a href="" class="author-link">
                            by USAWAN
                        </a>
                    </div>
                    <div class="text-right-md col-base col-md-4">
                        © go.Interiors 2018. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer>

        <!-- Lines -->

        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

